/* CSS styles for the Specle Game */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#title-image {
  text-align: center; /* Center the image horizontally */
  max-width: 25%; /* Set maximum width for the title image */
  margin: 20px auto; /* Center the container horizontally with top and bottom margin */
}

#title-image img {
  display: block; /* Ensure the image behaves as a block element */
  width: 100%; /* Ensure the image fills its container */
  height: auto; /* Maintain the aspect ratio */
}

#submit-guess {
  background-color: #DAAE4F; /* Set background color */
  color: white; /* Set text color */
}

/* Add more CSS styles as needed */
